[Unit]
Description=Run watchdog every 2 minutes
Requires=watchdog.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s
Unit=watchdog.service
Persistent=false

[Install]
WantedBy=timers.target
